<div class="main-form-signup">
  <div class="form-container">
    <div class="centered-container">
      <h1>Welcome to <span class="highlight" style="margin: 0 10px 0 2px;">JapanTea</span>!</h1>
      <%# <h1>Create your <span class="highlight">account</span></h1> %>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :username,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "username" }%>
          <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
          <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "SIGNUP" %>
        </div>
      <% end %>
      <p>Already have an account? <%= render "devise/shared/links" %></p>
      <div class="back">
        <%= link_to root_path do %>
          <p><i class="fas fa-chevron-circle-left back-button"></i>Back</p>
        <% end %>
      </div>
    </div>
  </div>
  <%= image_tag "signup.jpg", alt: "Login Form", class: "img-signup" %>
</div>
