<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <style>
      /* Main container */
      .container-mailer {
        width: 800px;
        margin: 0 auto;
      }

      /* Navbar mailer */
      .navbar-mailer {
        display: flex;
        justify-content: center;
      }

      /* Welcome mailer */
      .welcome-mailer-wrapper {
        display: flex;
        column-gap: 20px;
        margin-top: 30px;
      }

      .mailer-img {
        width: 310px;
      }

      .welcome-mailer-text h1 {
        font-size: 52px;
        font-style: italic;
        color: #201f1f;
      }

      .welcome-mailer-text h3 {
        color: #1d1c1c;
        font-weight: bold;
        font-size: 24px;
      }

      .welcome-mailer-text p {
        font-size: 19px;
        margin: 40px 0;
        line-height: 1.4;
      }

      .welcome-mailer-text span {
        color: #aac997;
        font-style: italic;
      }

      .welcome-mailer-offer {
        border-top: 1px dotted gray;
        border-bottom: 1px dotted gray;
        margin-top: 30px;
        text-align: center;
      }

      .welcome-mailer-offer p {
        font-size: 19px;
      }

      .welcome-mailer-offer ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        font-weight: bold;
        margin-top: 5%;
      }

      .welcome-mailer-offer li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
      }

      .welcome-mailer-offer li p {
        font-size: 15px;
      }

      .offer-icons {
        width: 20%;
      }

      /* Buy CTA button */

      a {
        text-decoration: none;
      }

      .buy-cta-btn-no-background {
        text-align: center;
        background-color: #bce0a6;
        border: 1px solid #bce0a6;
        color: #f8f8f8;
        border-radius: 2px;
        transition: all ease-in-out 0.35s;
        z-index: 1;
        position: relative;
        padding: 8px 10px;
        font-size: 20px;
      }

      .buy-cta-btn-no-background::after {
        content: "→";
        position: absolute;
        color: #aac997;
        left: 88%;
        opacity: 0;
        transition: all 0.35s ease-in-out;
      }

      .buy-cta-btn-no-background:hover {
        border: none;
        background-color: transparent;
        color: #aac997;
        transition: all ease-in-out 0.35s;
      }

      .buy-cta-btn-no-background:hover::after {
        left: 95%;
        opacity: 1;
        transition: all ease-in-out 0.35s;
      }

      /* Featured products */

      .flex-featured-mailer {
        display: flex;
        justify-content: space-evenly;
      }

      .featured-products-mailer h3 {
        font-size: 19px;
        font-weight: 100;
        text-align: center;
      }

      .featured-products-mailer span {
        position: relative;
      }

      .featured-products-mailer span:after {
        content: "";
        position: absolute;
        border-bottom: 3px solid #aac997;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }

      .featured-card-mailer {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 24px 0px;
      }

      .featured-info-mailer {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 12px;
      }

      .featured-info-mailer h3 {
        margin-top: 0;
        margin-bottom: 6px;
        font-size: 16px;
        font-weight: 600;
      }

      .featured-info-mailer p {
        font-size: 14px;
        margin-bottom: 0;
        margin-top: 6px;
      }

      .featured-product-pic-mailer {
        width: 180px;
        height: 170px;
        border-radius: 2px;
      }

      /* Clickeable */

      .featured-card-mailer > a {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 99;
      }

      /* Stars */

      .fa-star {
        color: white;
        stroke: #f7d61d;
        stroke-width: 26px;
      }

      .full-star {
        color: #fce876;
        stroke: #f7d61d;
        stroke-width: 26px;
      }

      .active {
        color: #fce876;
        stroke: #f7d61d;
        stroke-width: 26px;
      }

      /* Social media */

      .social-mailer {
        background: #bce0a6;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 42px;
      }

      .social-mailer a {
        color: white;
        font-size: 24px;
      }
    </style>
  </head>
  <body>
    <div class="container-mailer">
      <section class="navbar-mailer">
        <a href="" target="_blank"><%= image_tag "logo.png", width: 100, alt: "logo"%></a>
      </section>
      <section class="welcome-mailer">
        <div class="welcome-mailer-wrapper">
          <div>
            <%= image_tag "mailer-image.jpg", class: "mailer-img", alt: "mailer-img"%>
          </div>
          <div class="welcome-mailer-text">
            <h1>Welcome!</h1>
            <h3>Thank you for joining <span><%= ENV['SHOP_NAME'] %></span> - we are thrilled to have you!</h3>
            <p>Check out our dedicated tea products in our website.<br>
              You'll be the first to hear about all of our latest arrivals, exclusive collaborations and limited-run collections from the best established brands.</p>
            <a href="/products" target="_blank" class="buy-cta-btn-no-background">SHOP NOW</a>
          </div>
        </div>
        <div class="welcome-mailer-offer">
          <p>Now that you're in, you'll be the first to hear about:</p>
          <ul>
            <li>
              <%= image_tag "special-offer-icon.png", class: "offer-icons", alt: "special offer icon"%>
              <p>SPECIAL OFFERS</p>
            </li>
            <li>
              <%= image_tag "new-product-icon.png", class: "offer-icons", alt: "new arrival icon"%>
              <p>NEW ARRIVALS</p>
            </li>
            <li>
              <%= image_tag "exclusive-sale-icon.png", class: "offer-icons", alt: "exclusive sale icon"%>
              <p>EXCLUSIVE SALES</p>
            </li>
          </ul>
        </div>
      </section>
      <section class="featured-products-mailer">
        <h3>Check out our <span>featured products</span>!</h3>
        <div class="flex-featured-mailer">
          <% @featured_products.each do |product| %>
            <div class="featured-card-mailer">
              <%= link_to product_url(product) do %>
              <% end %>
              <%= cl_image_tag product.photos[0].key, height: 300, width: 400, crop: :fill, class: 'featured-product-pic-mailer' %>
              <div class="featured-info-mailer">
                <h3><%= product.name %></h3>
                <div>
                  <% if product.rating %>
                    <% product.rating.floor.times do %>
                      <i class="fas fa-star active"></i>
                    <%end %>
                    <% if product.rating.to_s.include?('.5') %>
                      <i class="fas fa-star-half-alt active"></i>
                    <% end %>
                    <% (5 - product.rating.ceil).times do %>
                      <i class="fas fa-star"></i>
                    <% end %>
                  <% else %>
                    <% 5.times do %>
                      <i class="fas fa-star"></i>
                    <% end %>
                  <%end %>
                </div>
                <p>¥<%= product.price %></p>
              </div>
            </div>
          <% end %>
        </div>
      </section>
      <section class="social-mailer">
        <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="#" target="_blank"><i class="fab fa-pinterest"></i></a>
      </section>
      <section class="contact-mailer">
        <h3>We are here to help</h3>
        <p>To talk with us, email us at <%= ENV['GMAIL_SMTP_USER'] %></p>
      </section>
      <section class="footer-mailer">
        <div class="container text-center">
          <p class="text-grey mb-0 py-2">© <%= Time.new.year %> <%= ENV['SHOP_NAME'] %> All rights reserved.</pe>
        </div>
      </section>
    </div>
  </body>
</html>
