<% unless !orders || orders == [] %>
  <article class="orders-wrapper">
    <ul class="checkout-title">
      <li>ORDER PLACED</li>
      <li>TOTAL</li>
      <li>SHIP TO</li>
      <li>VIEW ORDER DETAILS</li>
    </ul>
    <% orders.each do |order| %>
      <div class="order-preview">
        <ul class="checkout-info">
          <li><%= order.date.strftime('%b %d, %Y') %></li>
          <li><%= pretty_amount(order.total) %></li>
          <li class="dropdown">
            <a class="dropdown-toggle" type="button" onclick="openDropdown(event)"><%= order.user.name %></a>
            <ul class="dropdown-order-menu hide-dropdown">
              <li class="dropdown-item"><%= order.user.shipping_address %></li>
            </ul>
          </li>
          <!-- Button trigger modal -->
          <li><button type="button" class="view-btn" data-bs-toggle="modal" data-bs-target=<%= "#orderPreviewModal#{order.id}" %>>
              View
            </button></li>
          <!-- Modal -->
          <div class="modal fade" id=<%= "orderPreviewModal#{order.id}" %> tabindex="-1" role="dialog" aria-labelledby=<%= "orderPreviewModalLabel#{order.id}" %>>
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id=<%= "orderPreviewModalLabel#{order.id}" %>>Order Preview</h5>
                  <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <%= render 'users/shared/order_preview', order: order %>
                </div>
            </div>
          </div>
        </div>
      </ul>
    </div>
  <% end %>
</article>
<% end %>
<script>
  const openDropdown = (event) => {
    const dropdownMenu = event.target.nextElementSibling
    dropdownMenu.classList.toggle("hide-dropdown")
  }
</script>
