<h3 class="contact-section-header"><span>Ready to try it?</span> GET IN TOUCH</h3>
<%= form_for @contact, url: pages_path, remote: true do |f| %>
  <div class= "contact-section-flex-row">
    <div class="form-input-spacing">
      <%= f.label :name %>
      <%= f.text_field  :name, required: true, class: "contact-form-text-area" %>
    </div>
    <div class="form-input-spacing">
      <%= f.label :email %>
      <%= f.text_field :email, required: true, class: "contact-form-text-area" %>
    </div>
  </div>
  <div class="contact-section-area-input">
    <%= f.label :message %>
    <%= f.text_area :message, rows: 8, cols: 59, required: true, class: "contact-form-text-area",
                            placeholder: "Send us a message"%>
  </div>
  <div class="contact-section-submit-form send-btn">
    <%= f.submit 'Contact Us', id: "submit-input", style: "border: none !important; background: none; color: white"%>
    <i class="fa fa-paper-plane replace"></i>
    <i class="fas fa-check hidden"></i>
  </div>
<% end %>
