<main>
  <section>
    <% cart_items.each do |item| %>
      <ul>
        <li><%= item.product.name %></li>
        <li>¥<%= item.product.price %></li>
        <!-- Change quantity -->
        <%= link_to order_item_path(item, 'plus'), remote: true, method: :patch do %>
          <button>+</button>
        <%end %>
        <li><%= item.quantity %></li>
        <%= link_to order_item_path(item, 'minus'), remote: true, method: :patch do %>
          <button>-</button>
        <%end %>
      </ul>
      <!-- Delete item -->
      <%= link_to "Delete from cart",
            order_item_path(item, order: order),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
    <% end %>
  </section>
</main>
