<!-- Info needed for the shipping -->
<article class="cart-procedure">
  <section class="steps container add-padding-product steps">
    <div class="step active-step">
      <h3>Step 1</h3>
      <p>Shipping Information</p>
    </div>
    <div class="step">
      <h3>Step 2</h3>
      <p>Billing Information</p>
    </div>
    <div class="step">
      <h3>Step 3</h3>
      <p>Checkout</p>
    </div>
  </section>
  <section class="container add-padding-product full-shopping">
    <!-- First step -->
    <div class="form-step" data-step="one">
      <h2>Shipping Information</h2>
      <% if @user.name %>
        <!-- First step when shipping info -->
        <div class="cart-form ">
          <p><span> Name:</span> <%= @user.name %></p>
          <p><span> Address:</span> <%= @user.shipping_address %></p>
          <p><span> Phone number:</span> <%= @user.phone_number %></p>
          <button class="next-btn go-step-two" data-key="two">Next</button>
          <button class="next-btn change-shipping-btn">Change</button>
          <div class="change-shipping-info">
            <%= simple_form_for(@user, remote: true, method: :patch) do |f| %>
              <div id="name">
                <%= f.input :name, label: 'Full name', required: true %>
              </div>
              <div id="shipping_address">
                <%= f.input :shipping_address,required: true %>
              </div>
              <div id="phone">
                <%= f.input :phone_number, required: true %>
              </div>
              <%= f.submit 'Submit', class: "next-btn" %>
            <% end %>
          </div>
        </div>
      <% else %>
        <!-- First step when no shipping info -->
        <div class="cart-form form-hidden">
          <%= simple_form_for(@user, remote: true, method: :patch) do |f| %>
            <div id="name">
              <%= f.input :name, label: 'Full name', required: true %>
            </div>
            <div id="shipping_address">
              <%= f.input :shipping_address,required: true %>
            </div>
            <div id="phone">
              <%= f.input :phone_number, required: true %>
            </div>
            <%= f.submit 'Next', class: "next-btn add-shipping-info" %>
          <% end %>
        </div>
      <% end %>
    </div>
    <!-- Second step -->
    <div class="form-step form-hidden" data-step="two">
      <h2>Billing Information</h2>
      <div class="cart-form">
        <% if @user.shipping_address == @order.billing_address %>
          <p><span>Billing address:</span> Same as shipping address</p>
        <% else %>
          <p><span>Billing address:</span> <%= @order.billing_address %></p>
        <% end %>
        <button class="next-btn go-step-three" data-key="three">Next</button>
        <button class="next-btn change-billing-btn">Change</button>
        <button class="next-btn go-step-one" data-key="one">Previous</button>
        <div class="change-billing-info">
          <%= simple_form_for(@order, remote: true, method: :patch) do |f| %>
            <div id="billing">
              <%= f.input :billing_address, required: true %>
            </div>
            <%= f.submit 'Submit', class: "next-btn" %>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</article class="procedure">
<!-- Payment logic -->
<%#= render "charges/shared/payment_stripe", cart_items: @cart_items, order: @order, amount: @amount, description: @description %>
