<!-- Info needed for the shipping -->
<article class="cart-procedure">
  <section class="steps container add-padding-product">
    <div class="step active-step" data-highlight="one">
      <h3>Step 1</h3>
      <p>Shipping Information</p>
    </div>
    <div class="step" data-highlight="two">
      <h3>Step 2</h3>
      <p>Billing Information</p>
    </div>
    <div class="step" data-highlight="three">
      <h3>Step 3</h3>
      <p>Checkout</p>
    </div>
  </section>
  <section class="container add-padding-product full-shopping">
    <!-- First step -->
    <div class="form-step step-one" data-step="one">
      <h2>Shipping Information</h2>
      <% if @user.name %>
        <!-- First step when shipping info -->
        <div class="cart-form ">
          <p><span> Name:</span> <%= @user.name %></p>
          <p><span> Address:</span> <%= @user.shipping_address %></p>
          <p><span> Phone number:</span> <%= @user.phone_number %></p>
          <!-- Hidden form -->
          <%= simple_form_for(@user, remote: true, method: :patch) do |f| %>
            <%if  @user.checked == 0 %>
              <%= f.input_field :checked, as: :boolean, class: "hidden_form not-checked two"  %>
            <% else %>
              <%= f.input_field :checked, as: :boolean, class: "hidden_form checked two" %>
            <% end %>
            <%= f.button :submit, class: "hidden_form" %>
          <% end  %>
          <button class="next-btn go-step-two pass-data" data-key="two">Next</button>
          <button class="next-btn change-shipping-btn">Change</button>
          <div class="change-shipping-info">
            <%= simple_form_for(@user, remote: true, method: :patch) do |f| %>
              <div id="name">
                <%= f.input :name, label: 'Full name', required: true %>
              </div>
              <div id="shipping_address">
                <%= f.input :shipping_address,required: true %>
              </div>
              <div id="phone">
                <%= f.input :phone_number, required: true %>
              </div>
              <%= f.submit 'Submit', class: "next-btn" %>
            <% end %>
          </div>
        </div>
      <% else %>
        <!-- First step when no shipping info -->
        <div class="cart-form not-filled-shipping">
          <%= simple_form_for(@user, remote: true, method: :patch) do |f| %>
            <div id="name">
              <%= f.input :name, label: 'Full name', required: true %>
            </div>
            <div id="shipping_address">
              <%= f.input :shipping_address,required: true %>
            </div>
            <div id="phone">
              <%= f.input :phone_number, required: true %>
            </div>
            <%= f.submit 'Next', class: "next-btn add-shipping-info" %>
          <% end %>
        </div>
      <% end %>
    </div>
    <!-- Second step -->
    <div class="form-step step-two form-hidden" data-step="two">
      <h2>Billing Information</h2>
      <div class="cart-form">
        <% if @user.shipping_address == @order.billing_address %>
          <p><span>Billing address:</span> Same as shipping address</p>
        <% else %>
          <p><span>Billing address:</span> <%= @order.billing_address %></p>
        <% end %>
        <!-- Hidden form -->
        <%= simple_form_for(@order, remote: true, method: :patch) do |f| %>
          <%if  @order.checked == 0 %>
            <%= f.input_field :checked, as: :boolean, class: "hidden_form not-checked three" %>
          <% else %>
            <%= f.input_field :checked, as: :boolean, class: "hidden_form checked three" %>
          <% end %>
          <%= f.button :submit, class: "hidden_form" %>
        <% end  %>
        <button class="next-btn go-step-three pass-data" data-key="three">Next</button>
        <button class="next-btn change-billing-btn">Change</button>
        <button class="next-btn go-step-one" data-key="one">Previous</button>
        <div class="change-billing-info">
          <%= simple_form_for(@order, remote: true, method: :patch) do |f| %>
            <div id="billing">
              <%= f.input :billing_address, required: true %>
            </div>
            <%= f.submit 'Submit', class: "next-btn" %>
          <% end %>
        </div>
      </div>
    </div>
    <!-- Third step -->
    <div class="form-step form-hidden" data-step="three">
      <h2 class="lg-text">Checkout</h2>
      <!-- Payment logic -->
      <div class="cart-form-lg">
        <%= render "charges/shared/payment_stripe", cart_items: @cart_items, order: @order, amount: @amount, description: @description %>
      </div>
    </div>
  </section>
</article>
