<main>
  <div class="container-header">
    <div class="header-font">
      <h3><span>My Profile</span></h3>
    </div>
    <div class="container-profile">
      <div class="profile-pic">
        <!-- Render icons modal -->
        <%= render 'users/shared/modal' %>
        <h3><%= @user.name %></h3>
      </div>
      <div class="user-name-container">
        <div class="main-info">
          <div class="main-info-flex">
            <p class="title">USER PROFILE</p>
            <p class="main-info-flex-edit" onclick="openEditForm()"><i class="fas fa-edit"></i>EDIT</p>
          </div>
          <div class="flex-info">
            <!-- Info data used in <992 px -->
            <div class="flex-info-data">
              <p class="info">Username: &emsp;<span><%= @user.name %></span></p>
              <p class="info">Email: &emsp;<span><%= @user.email %></span></p>
              <p class="info">Shipping address: &emsp;<span><%= @user.shipping_address %></span></p>
              <p class="info">Phone number: &emsp;<span><%= @user.phone_number %></span></p>
            </div>
            <!-- Form used in <992 px -->
            <div class="flex-edit-form">
              <%= simple_form_for(@user, remote: true, method: :patch) do |f| %>
                <div>
                  <%= f.input :name, label: 'Username', required: true %>
                </div>
                <div>
                  <%= f.input :email, required: true %>
                </div>
                <div>
                  <%= f.input :shipping_address,required: true %>
                </div>
                <div>
                  <%= f.input :phone_number, required: true %>
                </div>
                <%= f.submit 'Edit', class: "view-btn" %>
              <% end %>
            </div>
          </div>
          <!-- Hybrid data-form used in >=992 px -->
          <div class="hybrid-edit-form">
            <%= simple_form_for(@user, remote: true, method: :patch) do |f| %>
              <div class="hybrid-edit-form-flex">
                <p class="info">Username: &emsp;<span><%= @user.name %></span></p>
                <%= f.input :name, label: 'Username', required: true %>
              </div>
              <div class="hybrid-edit-form-flex">
                <p class="info">Email: &emsp;<span><%= @user.email %></span></p>
                <%= f.input :email, required: true %>
              </div>
              <div class="hybrid-edit-form-flex">
                <p class="info">Shipping address: &emsp;<span><%= @user.shipping_address %></span></p>
                <%= f.input :shipping_address,required: true %>
              </div>
              <div class="hybrid-edit-form-flex">
                <p class="info">Phone number: &emsp;<span><%= @user.phone_number %></span></p>
                <%= f.input :phone_number, required: true %>
              </div>
              <div class="hybrid-edit-form-flex">
                <p class="info"><span></span></p>
                <div>
                  <%= f.submit 'Edit', class: "view-btn", style: "margin-left: 223px;" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-header">
    <div class="container-messages">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs tabs-header" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="like-tab" data-bs-toggle="tab" data-bs-target="#like" type="button" role="tab" aria-controls="home" aria-selected="true">Favorites</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="orders-tab" data-bs-toggle="tab" data-bs-target="#orders" type="button" role="tab" aria-controls="profile" aria-selected="false">Orders</a>
        </li>
        <% if @user.admin %>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="create-tab" data-bs-toggle="tab" data-bs-target="#create" type="button" role="tab" aria-controls="profile" aria-selected="false">Create</a>
          </li>
        <% end %>
      </ul>
      <!-- Tab panes -->
      <div class="table-recommendations-posts">
        <div class="tab-content">
          <!-- Liked products -->
          <div class="tab-pane active-black-color active" id="like" role="tabpanel" aria-labelledby="like-tab"><%= render 'users/shared/liked_list', favorites: @favorites %></div>
          <!-- Orders made -->
          <div class="tab-pane active-black-color" id="orders" role="tabpanel" aria-labelledby="orders-tab"><%= render 'users/shared/orders_list', orders: @orders %></div>
          <!-- Add new products -->
          <% if @user.admin %>
            <div class="tab-pane active-black-color" id="create" role="tabpanel" aria-labelledby="create-tab"><%= render 'users/shared/create_product', user: @user, product: @product %></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>
<script>
  const openEditForm = () => {
    const editForm = document.querySelector(".flex-edit-form");
    const hybridForm = document.querySelectorAll(".hybrid-edit-form-flex div");

    if (window.innerWidth > 991) {
      hybridForm.forEach((el) => {
        el.style.width === ""
          ? (el.style.width = "300px")
          : (el.style.width = "");
      });
    } else {
      editForm.style.height === ""
        ? (editForm.style.height = "300px")
        : (editForm.style.height = "");
    }
  };
</script>
