<h1><%= @user.username %>show page!!</h1>
<!-- Render icons modal -->
<%= render 'users/shared/modal' %>
<main>
  <!-- Liked products -->
  <section>
    <%= render 'users/shared/liked_list', favorites: @favorites %>
  </section>
  <!-- Orders made -->
  <section>
    <%= render 'users/shared/orders_list', orders: @orders %>
  </section>
  <!-- Add new products -->
  <section>
    <%= render 'users/shared/create_product', user: @user, product: @product %>
  </section>
</main>
