<h1><%= @user.username %>show page!!</h1>
<main>
  <!-- Liked products -->
  <section>
    <% unless !@favorites || @favorites == [] %>
      <h1> Liked products:</h1>
      <% @favorites.each do |favorite| %>
        <ul>
          <li><%= favorite.name %></li>
          <li><%= favorite.price %></li>
          <li><%= favorite.rating %></li>
        </ul>
      <% end %>
    <% end %>
  </section>
  <!-- Orders made -->
  <section>
    <% unless !@orders || @orders == [] %>
      <h1> Orders made: </h1>
      <% @orders.each do |order| %>
        <ul>
          <li><%= order.total %><%= order.date %></li>
        </ul>
      <% end %>
    <% end %>
  </section>
</main>
