<div class="container top-footer-div">
  <div class="row py-4">
    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0"><img src="" alt="" width="180" class="mb-3">
      <p class="font-italic text-grey">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
      <ul class="list-inline mt-4">
        <li class="list-inline-item"><a href="#" target="_blank" title="twitter"><i class="fab fa-twitter"></i></a></li>
        <li class="list-inline-item"><a href="#" target="_blank" title="instagram"><i class="fab fa-instagram"></i></a></li>
        <li class="list-inline-item"><a href="#" target="_blank" title="pinterest"><i class="fab fa-pinterest"></i></a></li>
      </ul>
    </div>
    <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
      <h6 class="text-uppercase mb-4">Company</h6>
      <ul class="list-unstyled mb-0">
        <li class="mb-2"><a href="/" class="text-grey">Home</a></li>
        <li class="mb-2"><a href="/about" class="text-grey">About</a></li>
        <li class="mb-2"><a href="/products" class="text-grey">Our Products</a></li>
      </ul>
    </div>
    <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
      <h6 class="text-uppercase mb-4">Others</h6>
      <ul class="list-unstyled mb-0">
        <li class="mb-2"><a href="#" class="text-grey">Services</a></li>
        <li class="mb-2"><a href="#" class="text-grey">Terms</a></li>
        <li class="mb-2"><a href="#" class="text-grey">Privacy Policy</a></li>
      </ul>
    </div>
    <div class="col-lg-4 col-md-6 mb-lg-0">
      <h6 class="text-uppercase mb-4">Newsletter</h6>
      <p class="text-grey mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At itaque temporibus.</p>
      <div class="p-1 rounded border">
        <div class="input-group">
          <%= form_with url: "/newsletters", method: :puts do |form| %>
            <%= form.text_field :email, :class => 'input-newsletter' %>
            <div class="input-group-append">
              <button class="btn btn-link"><i class="fa fa-paper-plane"><%= form.submit "" %></i></button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Copyrights -->
<div class="py-4">
  <div class="container text-center">
    <p class="text-grey mb-0 py-2">© <%= Time.new.year %> <%= ENV['SHOP_NAME'] %> All rights reserved.</p>
  </div>
</div>
