<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="../">COMPANY ICON</a>
    <button class="navbar-toggler btn-menu" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    </button>
    <div class="navbar-collapse collapse" >
      <ul class="navbar-nav center-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="../">home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../products">catalog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../about">about</a>
        </li>
      </ul>
    </div>
    <div>
      <ul class="right-nav">
        <li>
          <%= form_tag products_path, class: "form-inline", method: :get do %>
            <%= text_field_tag :query,
            params[:query],
            class: "close-search",
            placeholder: "Search product"
          %>
            <button type="submit" name="commit" id="search" class="search-btn"><i class="fas fa-search"></i></button>
          <% end %>
        </li>
        <li>
          <a class="nav-link cart-nav" href="../cart/new"><i class="fas fa-shopping-bag"></i></a>
          <% if current_user && current_user.orders.where(status: 1)[0] && current_user.orders.where(status: 1)[0].order_items.count > 0 %>
            <p class="items-cart"><%= current_user.orders.where(status: 1)[0].order_items.count %></p>
          <% end %>
        </li>
        <li>
          <ul class="navbar-nav mr-auto">
            <% if user_signed_in? %>
              <li class="nav-item dropdown">
                <%= image_tag "#{@user.icon.url}", class: "avatar dropdown-toggle", role: 'button', 'aria-haspopup': true, 'aria-expanded': false %>
                <div class="dropdown-menu dropdown-menu-right dropdown-avatar" aria-labelledby="navbarDropdown">
                  <ul class="avatar-ul">
                    <li class="nav-item active">
                      <%= link_to "Profile", "../users/#{current_user.id}", class: "nav-link" %>
                    </li>
                    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
                  </ul>
                </div>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "Login", new_user_session_path, class: "nav-link" %>
              </li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
