<main>
  <!-- Beautiful Image Slider -->
  <section>
    <h1>This is the homepage!</h1>
  </section>
  <!-- Products wrapper -->
  <section>
    <div class="container">
      <% @products.each do |product| %>
        <!-- Favoritor -->
        <div>
          <% if current_user %>
            <%= link_to toggle_favorite_product_path(product), remote: true, method: :post do %>
              <%= render 'pages/like_button', product: product %>
            <% end %>
          <% end %>
        </div>
        <!-- Cart icon -->
        <div>
          <% if current_user %>
            <%= link_to order_items_path(product_id: product), remote: true, method: :post do %>
              <i class="fas fa-shopping-cart"></i>
            <% end %>
          <% else %>
            <%= link_to new_user_session_path do %>
              <i class="fas fa-shopping-cart"></i>
            <% end %>
          <% end %>
        </div>
        <!-- Product info -->
        <div>
          <%= link_to product_path(product) do %>
            <ul>
              <%= cl_image_tag product.photos[0].key, height: 300, width: 400, crop: :fill %>
              <%= cl_image_tag product.photos[1].key, height: 300, width: 400, crop: :fill %>
              <li><%= product.name %></li>
              <li>¥<%= product.price %></li>
              <div>
                <% if product.rating %>
                  <% product.rating.floor.times do %>
                    <i class="fas fa-star active"></i>
                  <%end %>
                  <% if product.rating.to_s.include?('.5') %>
                    <i class="fas fa-star-half-alt active"></i>
                  <% end %>
                  <% (5 - product.rating.ceil).times do %>
                    <i class="fas fa-star"></i>
                  <% end %>
                <% else %>
                  <% 5.times do %>
                    <i class="fas fa-star"></i>
                  <% end %>
                <%end %>
              </div>
            </ul>
          <% end %>
        </div>
      <% end %>
    </div>
  </section>
</main>
<!-- Homepage footer -->
<footer>
</footer>
