<main>
  <!-- Beautiful Image Slider -->
  <section>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag "banner-homepage.jpg", class:"d-block w-100", alt: "First slide"%>
        </div>
        <div class="carousel-item">
          <%= image_tag "banner-homepage.jpg", class:"d-block w-100", alt: "Second slide"%>
        </div>
        <div class="carousel-item">
          <%= image_tag "banner-homepage.jpg", class:"d-block w-100", alt: "Third slide"%>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </section>
  <!-- Products wrapper -->
  <section>
    <div class="container">
      <% @products.each do |product| %>
        <!-- Favoritor -->
        <%= render "pages/shared/favoritor", product: product  %>
        <!-- Cart icon -->
        <%= render "pages/shared/cart_display", product: product %>
        <!-- Product info -->
        <%= render "pages/shared/product_display", product: product %>
      <% end %>
    </div>
  </section>
</main>
<!-- Homepage footer -->
<footer>
</footer>
