<main>
  <!-- Beautiful Image Slider -->
  <section>
    <h1>This is the homepage!</h1>
  </section>
  <!-- Products wrapper -->
  <section>
    <div class="container">
      <% @products.each do |product| %>
        <% if current_user %>
          <%= link_to toggle_favorite_product_path(product), method: :post do %>
            <%= render 'pages/like_button', product: product %>
          <% end %>
        <% end %>
        <%= link_to product_path(product) do %>
          <ul>
            <%= cl_image_tag product.photos[0].key, height: 300, width: 400, crop: :fill %>
            <%= cl_image_tag product.photos[1].key, height: 300, width: 400, crop: :fill %>
            <li><%= product.name %></li>
            <li>¥<%= product.price %></li>
            <li><%= product.rating %></li>
          </ul>
        <% end %>
      <% end %>
    </div>
  </section>
</main>
<!-- Homepage footer -->
<footer>
</footer>
