<main>
  <!-- Image Slider -->
  <section>
    <%= render "pages/shared/carousel" %>
  </section>
  <!-- Introduction section -->
  <div data-aos="fade-up" data-aos-duration="500">
    <section>
      <%= render "pages/shared/intro" %>
    </section>
  </div>
  <!-- Products wrapper -->
  <section class="display-products intro-message">
    <%= render "pages/shared/product_wrapper" %>
  </section>
  <!-- Contact form section -->
  <section class="contact-section">
    <div id="contact" class="container">
      <%= render 'pages/shared/contact_form' %>
    </div>
  </section>
</main>
<!-- Homepage footer -->
<footer>
  <%= render 'shared/footer' %>
</footer>
