<% if current_user && order_item %>
  <%= form_for(order_item) do |form| %>
    <%= form.hidden_field :product_id, value: product.id %>
    <%= form.number_field :quantity, in: 1.0..20.0, step: 1, value: 1 %>
    <div class="buy-cta-btn-no-background">
      <%= form.submit "ADD TO CART", class: "add-to-cart" , style: "border: none !important; background: none; color: white; transition: all ease-in-out 0.35s;" %>
    </div>
  <% end %>
<% else %>
  <%= link_to new_user_session_path do %>
    <button class="buy-cta-btn-no-background cta-not-user">ADD TO CART</button>
  <% end %>
<% end %>
