 <%= simple_form_for([product, review], remote: true) do |f| %>
  <div class="review_rating">
    <label class="is_required" for="review_rating">Rating</label>
    <%= f.collection_radio_buttons :rating, [[1],[2],[3],[4],[5]], :first, :last, item_wrapper_tag: false, boolean_style: :inline do |b| %>
      <i class="fas fa-star radio_button"><%= b.radio_button %></i>
    <% end %>
  </div>
  <div id="title">
    <%= f.input :title, error: 'Title is mandatory, please specify one' %>
  </div>
  <div id="content">
    <%= f.input :content, as: :text, hint: '250 characters max.', input_html: { maxlength: 250 }, error: 'Content is mandatory, please specify one' %>
  </div>
  <%= f.submit %>
<% end %>
