<div>
  <!-- Overall rating/reviews -->
  <div class="d-flex mt-3">
    <div>
      <% if product.rating %>
        <% product.rating.floor.times do %>
          <i class="fas fa-star active"></i>
        <%end %>
        <% if product.rating.to_s.include?('.5') %>
          <i class="fas fa-star-half-alt active"></i>
        <% end %>
        <% (5 - product.rating.ceil).times do %>
          <i class="fas fa-star"></i>
        <% end %>
      <% else %>
        <% 5.times do %>
          <i class="fas fa-star"></i>
          <p>No reviews</p>
        <% end %>
      <%end %>
    </div>
    <div class="mx-3">
      <% if product.reviews.count == 0 %>
        <p>Be the first one to review it!</p>
      <% else %>
        <p>Based on <%= product.reviews.count %> reviews</p>
      <% end %>
    </div>
  </div>
  <!-- Write a review btn and logic -->
  <div>
    <% if user %>
      <button>Write a review</button>
      <div>
        <%= simple_form_for([product, review], remote: true) do |f| %>
          <div class="review_rating">
            <label class="is_required" for="review_rating">Rating</label>
            <%= f.collection_radio_buttons :rating, [[1],[2],[3],[4],[5]], :first, :last, item_wrapper_tag: false, boolean_style: :inline do |b| %>
              <i class="fas fa-star radio_button"><%= b.radio_button %></i>
            <% end %>
          </div>
          <div id="title">
            <%= f.input :title, error: 'Title is mandatory, please specify one' %>
          </div>
          <div id="content">
            <%= f.input :content, as: :text, hint: '250 characters max.', input_html: { maxlength: 250 }, error: 'Content is mandatory, please specify one' %>
          </div>
          <%= f.submit %>
        <% end %>
      </div>
    <% else %>
      <%= link_to new_user_session_path do %>
        <button>Write a review</button>
      <% end %>
    <% end %>
  </div>
</div>
