<div class="wrapper-grid">
  <div class="wrapper-left">
    <div>
      <h2>Catalog</h2>
      <h3>Price</h3>
      <ul>
        <li>Less than ¥1000</li>
        <li>¥1000 - ¥2000</li>
        <li>¥2000 - ¥3000</li>
        <li>¥3000 - ¥4000</li>
        <li>¥4000 - ¥5000</li>
        <li>More than ¥5000</li>
      </ul>
    </div>
  </div>
  <div class="right-side">
    <div class="wrapper-right">
      <% products.each do |product| %>
        <div class="mini-product-card" data-key=<%= product.price %>>
          <%= link_to product_path(product) do %>
            <div class="info-hover">
              <a href="/products/<%= product.id %>"><i class="fas fa-eye"></i></a>
              <!-- Favoritor -->
              <%= render "pages/shared/favoritor", product: product  %>
              <!-- Cart icon -->
              <%= render "pages/shared/cart_display", product: product %>
            </div>
            <%= cl_image_tag product.photos[0].key, height: 300, width: 400, crop: :fill, class: 'product-first-pic' %>
            <%= cl_image_tag product.photos[2].key, height: 300, width: 400, crop: :fill, class: 'product-second-pic' %>
            <div class="product-info">
              <h3><%= product.name %></h3>
              <div>
                <% if product.rating %>
                  <% product.rating.floor.times do %>
                    <i class="fas fa-star active"></i>
                  <%end %>
                  <% if product.rating.to_s.include?('.5') %>
                    <i class="fas fa-star-half-alt active"></i>
                  <% end %>
                  <% (5 - product.rating.ceil).times do %>
                    <i class="fas fa-star"></i>
                  <% end %>
                <% else %>
                  <% 5.times do %>
                    <i class="fas fa-star"></i>
                  <% end %>
                <%end %>
              </div>
              <p>¥<%= product.price %></p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="digg_pagination">
      <%= will_paginate products %>
    </div>
  </div>
</div>
