<div class="wrapper-grid">
  <div class="wrapper-left">
    <div class="filter-div">
      <h2>CATALOG</h2>
      <h3>Price</h3>
      <ul>
        <li class="price-filter" data-minprice=0 data-maxprice=999>
          <p class="tick check-box hidden">☑</p>
          <p class="check-box box">☐</p>
          Less than ¥1000
        </li>
        <li class="price-filter" data-minprice=1000 data-maxprice=2000>
          <p class="tick check-box hidden">☑</p>
          <p class="check-box box">☐</p>
          ¥1000 - ¥2000
        </li>
        <li class="price-filter" data-minprice=2001 data-maxprice=3000>
          <p class="tick check-box hidden">☑</p>
          <p class="check-box box">☐</p>
          ¥2000 - ¥3000
        </li>
        <li class="price-filter" data-minprice=3001 data-maxprice=4000>
          <p class="tick check-box hidden">☑</p>
          <p class="check-box box">☐</p>
          ¥3000 - ¥4000
        </li>
        <li class="price-filter" data-minprice=4001 data-maxprice=5000>
          <p class="tick check-box hidden">☑</p>
          <p class="check-box box">☐</p>
          ¥4000 - ¥5000
        </li>
        <li class="price-filter" data-minprice=5001 data-maxprice=999999>
          <p class="tick check-box hidden">☑</p>
          <p class="check-box box">☐</p>
          More than ¥5000
        </li>
      </ul>
      <h3>Stars</h3>
      <ul>
        <li class="stars-filter" data-stars=0.0>
          <p class="tick check-box hidden">☑</p>
          <p class="check-box box">☐</p>
          <div>
            <% 5.times do %>
              <i class="fas fa-star"></i>
            <% end %>
          </div>
        </li>
        <li class="stars-filter" data-stars=1.0>
          <p class="tick check-box hidden">☑</p>
          <p class="check-box box">☐</p>
          <div>
            <i class="fas fa-star active"></i>
            <% 4.times do %>
              <i class="fas fa-star"></i>
            <% end %>
          </div>
        </li>
        <li class="stars-filter" data-stars=2.0>
          <p class="tick check-box hidden">☑</p>
          <p class="check-box box">☐</p>
          <div>
            <% 2.times do %>
              <i class="fas fa-star active"></i>
            <% end %>
            <% 3.times do %>
              <i class="fas fa-star"></i>
            <% end %>
          </div>
        </li>
        <li class="stars-filter" data-stars=3.0>
          <p class="tick check-box hidden">☑</p>
          <p class="check-box box">☐</p>
          <div>
            <% 3.times do %>
              <i class="fas fa-star active"></i>
            <% end %>
            <% 2.times do %>
              <i class="fas fa-star"></i>
            <% end %>
          </div>
        </li>
        <li class="stars-filter" data-stars=4.0>
          <p class="tick check-box hidden">☑</p>
          <p class="check-box box">☐</p>
          <div>
            <% 4.times do %>
              <i class="fas fa-star active"></i>
            <% end %>
            <i class="fas fa-star"></i>
          </div>
        </li>
        <li class="stars-filter" data-stars=5.0>
          <p class="tick check-box hidden">☑</p>
          <p class="check-box box">☐</p>
          <div>
            <% 5.times do %>
              <i class="fas fa-star active"></i>
            <% end %>
          </div>
        </li>
      </ul>
    </div>
    <div class="filter-div">
      <h2>BEST SELLER</h2>
      <div class="flex-featured">
        <% featured_products.each do |product| %>
          <div class="featured-card">
            <%= cl_image_tag product.photos[0].key, height: 300, width: 400, crop: :fill, class: 'featured-product-pic' %>
            <div class="featured-info">
              <h3><%= product.name %></h3>
              <div>
                <% if product.rating %>
                  <% product.rating.floor.times do %>
                    <i class="fas fa-star active"></i>
                  <%end %>
                  <% if product.rating.to_s.include?('.5') %>
                    <i class="fas fa-star-half-alt active"></i>
                  <% end %>
                  <% (5 - product.rating.ceil).times do %>
                    <i class="fas fa-star"></i>
                  <% end %>
                <% else %>
                  <% 5.times do %>
                    <i class="fas fa-star"></i>
                  <% end %>
                <%end %>
              </div>
              <p>¥<%= product.price %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="right-side">
    <div class="wrapper-right">
      <% products.each do |product| %>
        <div class="mini-product-card active" data-price=<%= product.price %> data-stars=<%= product.rating %>>
          <%= link_to product_path(product) do %>
            <div class="info-hover">
              <a href="/products/<%= product.id %>"><i class="fas fa-eye"></i></a>
              <!-- Favoritor -->
              <%= render "pages/shared/favoritor", product: product  %>
              <!-- Cart icon -->
              <%= render "pages/shared/cart_display", product: product %>
            </div>
            <%= cl_image_tag product.photos[0].key, height: 300, width: 400, crop: :fill, class: 'product-first-pic' %>
            <%= cl_image_tag product.photos[2].key, height: 300, width: 400, crop: :fill, class: 'product-second-pic' %>
            <div class="product-info">
              <h3><%= product.name %></h3>
              <div>
                <% if product.rating %>
                  <% product.rating.floor.times do %>
                    <i class="fas fa-star active"></i>
                  <%end %>
                  <% if product.rating.to_s.include?('.5') %>
                    <i class="fas fa-star-half-alt active"></i>
                  <% end %>
                  <% (5 - product.rating.ceil).times do %>
                    <i class="fas fa-star"></i>
                  <% end %>
                <% else %>
                  <% 5.times do %>
                    <i class="fas fa-star"></i>
                  <% end %>
                <%end %>
              </div>
              <p>¥<%= product.price %></p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div id="pagination-container" class="simple-pagination"></div>
  </div>
</div>
