<div class="wrapper-grid">
  <div class="wrapper-left">
    <!-- Filter products by stars/price -->
    <%= render "products/shared/filter_products" %>
    <!-- Featured products -->
    <%= render "products/shared/featured_products", featured_products: featured_products %>
  </div>
  <div class="right-side">
    <div class="order-products">
      <div class="dropdown">
        <button class="sort_drop">Sort by <i class="fas fa-caret-down"></i></button>
        <div class="made-dropdown-menu">
          <%= link_to "Best Selling", products_path(sort_by: 'featured'), class: 'dropdown-item' %>
          <%= link_to "Alphabetically, A to Z", products_path(sort_by: 'name A-Z'), class: 'dropdown-item' %>
          <%= link_to "Alphabetically, Z to A", products_path(sort_by: 'name Z-A'), class: 'dropdown-item' %>
          <%= link_to "Rating, low to high", products_path(sort_by: 'rating 1-5'), class: 'dropdown-item' %>
          <%= link_to "Rating, high to low", products_path(sort_by: 'rating 5-1'), class: 'dropdown-item' %>
          <%= link_to "Price, low to high", products_path(sort_by: 'price low-high'), class: 'dropdown-item' %>
          <%= link_to "Price, high to low", products_path(sort_by: 'price high-low'), class: 'dropdown-item' %>
          <%= link_to "Date, new to old", products_path(sort_by: 'date new-old'), class: 'dropdown-item' %>
          <%= link_to "Date, old to new", products_path(sort_by: 'date old-new'), class: 'dropdown-item' %>
        </div>
      </div>
    </div>
    <div class="wrapper-right">
      <!-- Products catalog -->
      <%= render "products/shared/products_catalog", products: products %>
    </div>
    <!-- Pagination -->
    <div id="pagination-container" class="simple-pagination"></div>
  </div>
</div>
