<% products_highlight.each do |product| %>
  <%= link_to product_path(product) do %>
    <ul>
      <li><%= "#{product.pg_search_highlight.split[0...product.name.split.size].join(" ")}".html_safe%></li>
      <li><%= "#{product.pg_search_highlight.split[product.name.split.size..-1].join(" ")}".html_safe %></li>
      <li><%= pretty_amount(product.price) %></li>
      <li><%= product.rating %></li>
    </ul>
  <% end %>
<% end %>
