<main>
  <!-- Product images showcase -->
  <section>
    <h1>This is the Show page of a Product!</h1>
  </section>
  <!-- Detailed product info wrapper -->
  <section>
    <ul>
      <li><%= @product.name %></li>
      <li><%= @product.description %></li>
      <li>¥<%= @product.price %></li>
      <li><%= @product.rating %></li>
    </ul>
  </section>
  <!-- Review wrapper -->
  <section>
    <h1><%= "Reviews for #{@product.name}" %></h1>
    <!-- Toggleable Form for reviews -->
    <% if @user %>
      <button>Write a review</button>
      <div>
        <%= simple_form_for(@review) do |f| %>
          <%= f.input :rating %>
          <%= f.input :title %>
          <%= f.input :content, as: :text %>
          <%= f.submit %>
        <% end %>
      </div>
    <% else %>
      <%= link_to new_user_session_path do %>
        <button>Write a review</button>
      <% end %>
    <% end %>
    <% @reviews.each do |review| %>
      <ul>
        <li><%= review.title %></li>
        <li><%= review.content %></li>
        <li><%= review.user.username %></li>
        <li><%= review.rating %></li>
      </ul>
    <% end %>
  </section>
</main>
<!-- footer -->
<footer>
</footer>
