<main>
  <!-- Product images showcase -->
  <section class="product-banner" style="background-image: url(<%= cl_image_path @product.photos[0].key, crop: :fill %>);">
    <h1><%= @product.name %></h1>
  </section>
  <!-- Detailed product info wrapper -->
  <section class="container flex-wrapper">
    <div>
      <!-- Images -->
      <%= render "products/shared/display_product_images", product: @product %>
    </div>
    <div>
      <!-- Info -->
      <%= render "products/shared/display_product_info", product: @product %>
      <div class="padding-div-left">
        <!-- Cart button -->
        <%= render "products/shared/cart_product", product: @product, order_item: @order_item %>
        <!-- Favoritor -->
        <%= render "products/shared/favorite_product", product: @product %>
      </div>
      <%= image_tag "img-product-detail.png", class:"d-block padding-div-left", alt: "Second slide"%>
    </div>
  </section>
  <!-- Review wrapper -->
  <section class="container">
    <h1><%= "Reviews for #{@product.name}" %></h1>
    <!-- Toggleable Create form  -->
    <%= render "products/shared/create_review",  product: @product, review: @review, user: @user %>
    <!-- Rendering of each review & update/delete -->
    <%= render "products/shared/render_review", reviews: @reviews, product: @product, user: @user, admin: @admin %>
  </section>
</main>
<!-- footer -->
<footer>
</footer>
