<main>
  <!-- Product images showcase -->
  <section>
    <h1>This is the Show page of a Product!</h1>
  </section>
  <!-- Detailed product info wrapper -->
  <section>
    <!-- Images & Info -->
    <%= render "products/shared/display_product", product: @product %>
    <!-- Favoritor -->
    <%= render "products/shared/favorite_product", product: @product %>
    <!-- Cart button -->
    <%= render "products/shared/cart_product", product: @product, order_item: @order_item %>
  </section>
  <!-- Review wrapper -->
  <section>
    <h1><%= "Reviews for #{@product.name}" %></h1>
    <!-- Toggleable Create form  -->
    <%= render "products/shared/create_review",  product: @product, review: @review, user: @user %>
    <!-- Rendering of each review & update/delete -->
    <%= render "products/shared/render_review", reviews: @reviews, product: @product, user: @user, admin: @admin %>
  </section>
</main>
<!-- footer -->
<footer>
</footer>
