<main>
  <!-- Product images showcase -->
  <section class="product-banner" style="background-image: url(<%= cl_image_path @product.photos[0].key, crop: :fill %>);">
    <h1><%= @product.name %></h1>
  </section>
  <!-- Detailed product info wrapper -->
  <section class="container flex-wrapper add-padding-product">
    <div>
      <!-- Images -->
      <%= render "products/shared/display_product_images", product: @product %>
    </div>
    <div>
      <!-- Info -->
      <%= render "products/shared/display_product_info", product: @product %>
      <div class="padding-div-left">
        <!-- Cart button -->
        <%= render "products/shared/cart_product", product: @product, order_item: @order_item %>
        <!-- Favoritor -->
        <%= render "products/shared/favorite_product", product: @product %>
      </div>
      <%= image_tag "img-product-detail.png", class:"d-block padding-div-left", alt: "Second slide"%>
    </div>
  </section>
  <!-- Review wrapper -->
  <section class="container add-padding-product">
    <!-- Navs and Tabs -->
    <!-- Navs -->
    <ul class="nav nav-tabs tabs-header" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">DESCRIPTION</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">REVIEWS</a>
      </li>
    </ul>
    <!-- Tabs -->
    <div class="tab-content">
      <div class="tab-pane active active-black-color" id="home" role="tabpanel" aria-labelledby="home-tab"><%= @product.description %></div>
      <div class="tab-pane active-black-color" id="profile" role="tabpanel" aria-labelledby="profile-tab"><%= render "products/shared/render_tab_reviews", reviews: @reviews, review: @review, product: @product, user: @user, admin: @admin %></div>
    </div>
  </section>
  <section class="intro-message related-products-section">
    <h3 class="subtitle-display-product related-products-subtitle">Discover</h3>
    <h2>RELATED PRODUCTS</h2>
  </section>
</main>
<!--  Footer -->
<footer>
  <%= render "shared/footer" %>
</footer>
