<main>
  <!-- Product images showcase -->
  <section>
    <h1>This is the Show page of a Product!</h1>
  </section>
  <!-- Detailed product info wrapper -->
  <section>
    <ul>
      <li><%= @product.name %></li>
      <li><%= @product.description %></li>
      <li>¥<%= @product.price %></li>
      <li><%= @product.rating %></li>
    </ul>
  </section>
  <!-- Review wrapper -->
  <section>
    <h1><%= "Reviews for #{@product.name}" %></h1>
    <!-- Toggleable Form for reviews only if you are logged in. If not redirect to sign in page -->
    <% if @user %>
      <button>Write a review</button>
      <div>
        <%= simple_form_for [@product, @review] do |f| %>
          <%= f.input :rating %>
          <%= f.input :title %>
          <%= f.input :content, as: :text %>
          <%= f.submit %>
        <% end %>
      </div>
    <% else %>
      <%= link_to new_user_session_path do %>
        <button>Write a review</button>
      <% end %>
    <% end %>
    <!-- Rendering of each review -->
    <% @reviews.each do |review| %>
      <ul>
        <li><%= review.user.username %></li>
        <li><%= review.title %></li>
        <li><%= review.content %></li>
        <li><%= review.rating %></li>
      </ul>
      <!-- Toggleable Edit Form for reviews if current user is owner -->
      <% if review.user === @user %>
        <button>Edit the review</button>
        <div>
          <%= simple_form_for [@product, @review] do |f| %>
            <%= f.input :rating %>
            <%= f.input :title %>
            <%= f.input :content, as: :text %>
            <%= f.submit %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </section>
</main>
<!-- footer -->
<footer>
</footer>
